<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-parallax-header parallax-container" style="height: 450px;">
      <div class="lt-parallax parallax"><img src="{{ 'assets/img/pages/about/header/img-01.jpg'|theme }}" alt="image"></div>
      <div class="lt-parallax-content">
        <div class="valign-wrapper" style="height: 400px;">
          <div class="valign hide-on-small-only">
            <p class="lt-subtitle flow-text lt-phrase">"Distance changes utterly when you take the world on foot. A mile becomes a long way, two miles literally considerable, ten miles whopping, fifty miles at the very limits of conception. The world, you realize, is enormous in a way that only you and small community of fellow hikers know. Planetary scale is your little secret."</p>
            <h2 class="lt-title lt-phrase-author">Bill Bryson, &#8216;A Walk in the Woods&#8217;</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
