[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
scope = "-"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-single"
postPage = "blog-single"

==
{% set posts = blogPosts.posts %}


<div class="lt-row row" style="margin-left: -1.1rem;margin-right: -1.1rem;margin-top: 2.5rem;">

	    {% for post in posts %}


	    <div class="lt-col col m4 s12">
                <div class="featured-ptwo">
                    <div class="ptwo">
                        <div class="ptwo-holder" style="background: url({{post.featured_images.first.path}});">
                            <div class="ptwo-content">
                                <div class="ptwo-title">
                                    <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                                </div>
                            </div><!-- .ptwo-content -->
                        </div><!-- .ptwo-holder -->
                    </div><!-- .ptwo -->         
                </div>
            </div> 

	    {% else %}
	        <p class="no-data">{{ noPostsMessage }}</p>
	    {% endfor %}


</div>

    <div class="lt-col col m12 s12">
        {% if records.lastPage > 1 %}
            <ul class="pagination">
                {% if records.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                {% endif %}

                {% for page in 1..records.lastPage %}
                    <li class="{{ records.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if records.lastPage > records.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    
</div>

