// Tramposaurus 
@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}

.hidden {
  display:none;
}

mark {
  background:#ff5704;
  color:#FFF;
}

.lt-navigation nav ul li {
    margin-left: 10px;
}
// Homepage
.lt-latest-content {
 margin-top: -70px; 
 margin-bottom: -150px;
}
.lt-latest-articles {
    text-transform: uppercase;
    float:left;
}
.lt-phrase{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    font-size: 18px;
}
.lt-phrase-author {
    font-size: 20px;
    font-weight: bold;
}
.lt-square-title {
    font-size: 30px;
    font-weight: bold;
}
.lt-square-title:before {
    content: '';
    border-left: 10px solid #ff5704;
    margin-right: 10px;
}
.lt-title-with-subtitle {
    margin-bottom: 0px !important;
}
.lt-title-subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0;
    line-height: 1em;
    font-style: italic;
}

// Footer and Subcribe

#lt-footer {
    background: #fff;
    color: #000;
    z-index:2;
}
.lt-subcribe {
    border:10px solid #ff5704;
}
.lt-mailing-list {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #686868;
}
.lt-mailing-list:after {
    content: '';
    border-right: 10px solid #ff5704;
    margin-left: 50px;
}
.lt-mailing-input{
    border-bottom: 0px !important;
}
.lt-mailing-button {
    background-color: #437f46;
    font-weight:bold;
}
.lt-mailing-button:hover {
  background-color:#ff5704;
}
#lt-copyright {
 background-color: transparent;
 color: #000; 
}

.lt-copyright-forest{
  clear: both;
  position: relative;
  padding: 4em 0 1em 0;
  background: #f3f8f9;
  background-image: url(../img/forest-footer.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  background-position-y: -60px;
  background-position-x: 0px;
  height:500px;
  padding-top: 0px;
}
.lt-social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -50px;
}
.lt-social ul li { 
  display: inline; margin-left: 50px;
}
.lt-social ul li a {
  color:#686868;
}
.lt-social ul li a:hover, .copyright-link:hover {
  color:#ff5704;
}
.copyright-link {
  font-weight:bold;
  color:#686868;
}


// Feature post one

.featured-pone {
    float: left;
    width: 100%;
}
.pone {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pone-holder {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
    height: 600px;
}
.pone-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.70103092783505%;
}
.pone-holder > .pone-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pone-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    text-shadow: 0px 1px 1px #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pone-title a[rel="bookmark"]:before {
  content: '';
  border-left: 2.5px solid #ff5704;
  margin-right: 10px;
}
.pone-title a[rel="bookmark"] {
    color: #f5f5f5;
    text-decoration: none;
    line-height: 23px;
    padding: 20px;
    display: block;
}
//pone list homepage
.pone-list {
  margin-left: 20px;
  position: absolute;
  top: 83%;
}
.pone-list li i { font-size:1.4rem}
.pone-list .fa-border {
  padding: .25em .25em .25em .25em;
  border: solid .13em #fff;
  border-radius: 0px;
}
ul.pone-list li a {
  color:#FFF;
  padding:0;
}


// Feature post two

.featured-ptwo {
    float: left;
    width: 100%;
}
.ptwo {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ptwo-holder {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
    height: 295px;
}
.ptwo-holder:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.70103092783505%;
}
.ptwo-holder > .ptwo-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ptwo-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    text-shadow: 0px 1px 1px #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ptwo-title a[rel="bookmark"]:before {
  content: '';
  border-left: 2.5px solid #ff5704;
  margin-right: 10px;
}
.ptwo-title a[rel="bookmark"] {
    color: #f5f5f5;
    text-decoration: none;
    line-height: 23px;
    padding: 20px;
    display: block;
}
//ptwo hompage
.ptwo-list {
  margin-left: 20px;
  position: absolute;
  top: 65%;
}
.ptwo-list li i { font-size:1.4rem}
.ptwo-list .fa-border {
  padding: .25em .25em .25em .25em;
  border: solid .13em #fff;
  border-radius: 0px;
}
ul.ptwo-list li a {
  color:#FFF;
  padding:0;
}

// Feature post three







// Feature post four

.pfour {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 0.4em;
}

.pfour-thumb {
  width: 150px;
  height: 150px;
  float: left;
}

.pfour-details {
  margin-left: 140px;
}

.pfour-title {
  font-size: 16px;
  font-size: 1.6rem;
  display: inline-block;
  margin: 0 0 0.5em 0;
  font-weight: 500;
  line-height: 1.3;
}

.pfour-title a {
  color: #000;
}

.pfour-meta {
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 10px;
}

// Search Adventure

#lt-search {
  z-index:1;
  position:relative;
}

.lt-search-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #686868;
}

.lt-search-adventure {
  background: #f7f4ef;
  background-image: url(../img/bag.png) ;
  background-size: 100% 100%;
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 26px;
  border-bottom-width: 26px;
  padding-bottom: 26px;
}

.lt-search-button {
    background-color: #437f46;
    font-weight:bold;
    margin:10px;
}
.lt-search-button:hover {
  background-color:#ff5704;
}


.lt-search-bag {
  background: #f7f4ef;
  background-image: url(../img/bag.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:1000;


  
}


// Sign In - UP

.lt-sign {
  background: #f7f4ef;
  margin-top: 30px;
}
.lt-sign-logo {
  width: 130px;
}
.lt-sign-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #6f6f6f;
}
.lt-sign-subtitle {
  font-size: 20px;
  font-style: italic;
}
.lt-sign-fields {
  border: 1px solid #9e9e9e !important;
}
.lt-sign-fields:focus:not([readonly]){
  border-bottom: 1px solid #ff5722 !important;
  box-shadow: 0 1px 0 0 #ff5722 !important;
}
.btn-social{
  text-transform: none !important;
}
.lt-sign .input-field label {
  top: -1.5rem !important;  
}
.lt-sign label.active {
  color:#ff5722 !important;
  font-size:1rem;
  transform: translateY(0%);
}



//

.btn-green {
  background-color: #67882f;
  font-weight:bold;
}

.btn-green:hover {
  background-color: #ff5722;
  font-weight:bold;
}

.slider .indicators .indicator-item {  display:none; }

// menu

nav .img-logo {
  width: 105px;
  heigh: 63px;
}

#lt-navigation {
  margin-bottom: 0px;
}
#lt-navigation .nav-wrapper ul.right {
  margin-top:15px;
}
#lt-navigation nav {
  background-color: #fff;
  color: #000;
  height: 115px;
}
#lt-navigation nav.lt-no-background {
  border-bottom: 0px solid transparent;
}
#lt-navigation nav {
  border-bottom: 5px solid #ff5704;
}
nav ul a {
  color: #000;
  font-size: 1.2rem;
}
nav.lt-no-background ul a {
  color: #FFF;
}
nav .nav-wrapper {
  top: 10px;
}



// Destination Details

.grey.lighten-3 {
    background-color: #f7f4ef !important;
}
.lt-destination-single .lt-square-title {
  margin-bottom: 0px;
  margin-top: 0px;
}
.lt-destination-single .lt-square-title:before {
    content: '';
    border-left: 3px solid #ff5704;
    margin-right: 10px;
}
.lt-destination-single .compass-container { display: table-cell;}
.lt-destination-single .compass { float: left; width:75px; }
.lt-destination-single .compass-position-1 {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.lt-destination-single .compass-position-2 {
     margin-top: 40px;
    margin-left: -110px;
    float: right;
}

.lt-destination-single .featured-slider {
    position:relative;
    width: 70%;
    left: 15%;
}

.lt-destination-single .slider-shadow {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.lt-destination-single .slider-holder {
   position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
    height: 450px;
}

.carousel {
  background: #FFF;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}


.flickity-prev-next-button {
  border-radius: 0px !important;
  background: rgba(0, 0, 0, 0.35) !important;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.lt-destination-single .a2a_floating_style .a2a_svg { border-radius : 0px !important; }
.lt-destination-single .a2a_menu, .a2a_menu_find_container { border-radius: 0 !important; }
.lt-destination-single .a2a_svg { height: 40px !important; line-height: 32px; width: 40px !important;
}
.lt-destination-single .a2a_floating_style {
  background-color: transparent !important; 
  border-radius: 0px !important;
  padding: 0px !important; 
  position: static;
  z-index: 9999995;
  animation: a2aFadeIn .2s ease-in;
}
.lt-destination-single .a2a_share {
  margin-right: 10px;
  margin-top: 0.2em;
  top: 150px;
  line-height: 32px;
  float: right;
}


// Treks 

.lt-destination-single .lt-square-day {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 10px;
}
.lt-destination-single .lt-square-day:before {
  content: '';
  border-left: 10px solid #ff5704;
  margin-right: 10px;
}
.btn-day {
  background-color: #686868 !important;
  color: #fff !important;
  padding-top:2px !important;
  font-size: 18px !important;
}
.btn-day.active {
  background-color: #ff5722 !important;
  color: #fff !important;
  padding-top:5px !important;
  font-size: 20px !important;
  font-weight: bold;
}

.lt-list-days ul.pagination li a {
 
}

.btn-floating.btn-large {
  width: 45.5px;
  height: 45.5px;
  top: -0.3rem;
}


.btn-start-exploring{

display: inline-block;
  position: relative;
  background: #ff5722;

}

.btn-start-exploring:after{
  
  content: '';
  display: block;  
  position: absolute;
  left: 45%;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid #ff5722;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  
}


/*
.btn-start-exploring {
}
.btn-start-exploring:after {
  content: '';
    border: 5px solid #000;
    top: 90%;
    position: absolute;
    width: 100px;
    z-index: 1000;
}
*/

// Banner
.lt-slider .slides li:before {
  background: rgba(193, 193, 193, 0);
}

// Contact
#map {
  width: 100%;
  height: 400px;
}

#map-destination {
  width: 100%;
  height: 300px;
}


// Top Destinations

.lt-top-country-link {
  color: #686868;
}

// Features


.lt-country-title {
  color: #437f46;
  font-style: italic;
}

.lt-navigation-search-input {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.lt-navigation-search-link-inside {
    margin-top:-75px !important;
}

.lt-countries {
  margin-bottom:35px;
}

.lt-city-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.lt-city-title:before {
    content: '';
    border-left: 10px solid #ff5704;
    margin-right: 10px;
}

#country-list ul li{
  margin-bottom:10px;
}

.btn-country-pagination.disabled {
  background-color: #686868 !important;  
}

.lt-navigation-content nav a { color:#ff5704; }

.features-social {
    margin-top: -22.75em !important;
    margin-right: -15px !important;
}

.lt-thing-top h2 {
    font-size: 20px;
}

.lt-thing-top {
  border: 10px solid #FFF;
  background-color: transparent;
  color: #000;
  margin-bottom:50px;
}

.lt-thing-todo {
  border: 10px solid #4A4748;
  background-color: #4A4748;
  color: #FFF;
  margin-bottom:5px;
  margin-right: 15px;
}
.lt-thing-todo.active {
  border: 10px solid #437f46;
  background-color: #437f46;
}
.feature-top-container {
    margin: 5px 20px 0 0;  
    overflow: auto
}
.feature-top-title {
    float: left
}
.feature-top-title {
    display: block
}
.feature-top-content {
  margin: 10px 0 0 10px;
  text-transform: uppercase;
  line-height: 100%;
}
.feature-top-title {
  font-weight: bold;
  font-size: 200%;
  margin-left: 5px;
  margin-right: 10px;
}



// Map filter

#map-filter {
  width: 100%;
  height: 450px;
}

.lt-continent {
  padding: 10px 0px 10px 0px;
}

.lt-continent li{
  margin-right:10%;
}

.lt-continent li a {
  font-size:1rem;
  line-height: 0px;
}

.lt-cities {
  border:1px solid #437f46;
}

.lt-cities .select-wrapper {
  background-color: #FFF;
}

.lt-cities .select-wrapper input.select-dropdown {
  border: 2px solid #437f46;
  font-size: 1.3rem !important;
  font-weight:bold !important;
  text-align:center;
  margin-left: -2px;
}

.lt-select-cities {
  margin-left: 45%;  
}

.lt-explore-title{
  font-weight: bold;
  font-style: italic;
  font-family: initial;
}

.lt-explore-title-center {
  font-size: 30px;
  margin-top: -25px;
  color:#437f46;
}
.lt-explore-title-left {
  float:left;
  margin-top: -10px;
  margin-left: 50px;
}
.lt-explore-title-right {
  float:right;
  margin-top: -10px;
  margin-right: 50px;
}


/* Reset */
#lt-continent .nav,
#lt-continent .nav a,
#lt-continent .nav ul,
#lt-continent .nav li,
#lt-continent .nav div,
#lt-continent .nav form,
#lt-continent .nav input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

#lt-continent .nav a { text-decoration: none; }

#lt-continent .nav li { list-style: none; }

/* Menu Container */
#lt-continent .nav {
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
  top: 0.25rem;
}

/* Menu List */
#lt-continent .nav > li {
  display: block;
  float: left;
  margin-right: 50px;
}

/* Menu Links */
#lt-continent .nav > li > a {
  position: relative;
  display: block;
  z-index: 510;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  font-size: 13px;
  color: #434343;
  background: transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

#lt-continent .nav > li:hover > a { background: #ff5722; color:#fff; }

#lt-continent .nav > li:first-child > a {
  border-radius: 3px 0 0 3px;
  border-left: none;
}

/* Search Form */
#lt-continent .nav > li.nav-search > form {
  position: relative;
  width: inherit;
  height: 54px;
  z-index: 510;
  border-left: 1px solid #4b4441;
}

#lt-continent .nav > li.nav-search input[type="text"] {
  display: block;
  float: left;
  width: 1px;
  height: 24px;
  padding: 15px 0;
  line-height: 24px;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #999999;
  text-shadow: 0 0 1px rgba(0,0,0,.35);

  background: #372f2b;

  -webkit-transition: all .3s ease 1s;
  -moz-transition: all .3s ease 1s;
  -o-transition: all .3s ease 1s;
  -ms-transition: all .3s ease 1s;
  transition: all .3s ease 1s;
}

#lt-continent .nav > li.nav-search input[type="text"]:focus { color: #fcfcfc; }

#lt-continent .nav > li.nav-search input[type="text"]:focus,
#lt-continent .nav > li.nav-search:hover input[type="text"] {
  width: 110px;
  padding: 15px 20px;

  -webkit-transition: all .3s ease .1s;
  -moz-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  -ms-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
}

#lt-continent .nav > li.nav-search input[type="submit"] {
  display: block;
  float: left;
  width: 20px;
  height: 54px;
  padding: 0 25px;
  cursor: pointer;

  background: #372f2b url(../img/search-icon.png) no-repeat center center;

  border-radius: 0 3px 3px 0;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

#lt-continent .nav > li.nav-search input[type="submit"]:hover { background-color: #4b4441; }

/* Menu Dropdown */
#lt-continent .nav > li > div {
  position: absolute;
  display: block;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: #437f46;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

#lt-continent .nav > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  border-top:5px solid #ff5722;
}

/* Menu Content Styles */
#lt-continent .nav .nav-column {
  float: left;
  width: 25%;
  padding: 2.5%;
}

#lt-continent .nav .nav-column h3 {
  margin: 20px 0 10px 0;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ff5722;
  text-transform: uppercase;
}

#lt-continent .nav .nav-column h3.orange { color: #ff722b; }

#lt-continent .nav .nav-column li a {
  display: block;
  line-height: 26px;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}

#lt-continent .nav .nav-column li a:hover { color: #ff5722; }


.lt-tags-list li{
  display: inline-block;
  margin: 0px 10px 25px 0px;
}

.lt-tags {
  margin-top:10px;
  border: 10px solid #686868;
  background: #686868;
  color: #FFF;
}

.lt-tags.active, .lt-tags:hover {
  border: 10px solid #ff5722;
  background: #ff5722;
  color: #FFF;
}

// Social Button


//Treks
.ptreks-list li {
  margin-right: 5px;
}
.ptreks-list li i { font-size:1.4rem}
.ptreks-list .fa-border {
  padding: .25em .25em .25em .25em;
  border: solid .13em #000;
  border-radius: 0px;
}
ul.ptreks-list li a {
  color:#000;
  padding:0;
}

.btn-book-trip {
  background-color: #67882f;
  font-size:12px !important;
  font-weight:bold;
  color:#FFF !important;
  padding: 3px 5px 0 5px !important;
}
.btn-book-trip:hover{
  background-color: #ff722b;
}
.btn-add-photo,.btn-edit-location {
  margin: 5px 10px 5px 10px !important;
  font-size:0.9rem !important;
}
.lt-booktrip {
  background: #f7f4ef;
  background-size: 100% 100%;
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 26px;
  border-bottom-width: 26px;
  padding-bottom: 26px;
}
.btn-book-now {
  background-color: #437f46;
  font-weight: bold;
}
.btn-book-now:hover {
  background-color: #ff722b;
}
.lt-booktrip .alert p {
  color:#ff722b;  
}

.lt-booktrip .flash{
  color:#ff722b;
}


.btn-social { margin-top:10px; width:250px; }
.btn-social{position:relative;padding-left:55px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:40px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}
