<div class="lt-row row">

  <div class="lt-col col m12 s12">
    <div class="card grey lighten-3 z-depth-0">
      <div class="" style="text-align: center;">
	    {% partial "pages-all/menu-continents" %}
      </div>
    </div>
  </div>

  	<div class="lt-col col m12 s12">
		<div class="" style="text-align: center;">
	      	<ul class="pagination lt-countries">
			<li class="lt-explore-title lt-explore-title-left"></li>
			<li class="lt-explore-title lt-explore-title-center lt-explore-country" style="margin-left: -30px;"></li>
			<li class="lt-explore-title lt-explore-title-right"></li>
			</ul>
      	</div>
	</div>
  	
  	<div class="lt-vertical-spacer"></div>

	<div class="lt-col col m12 s12">
		<div class="lt-cities">
			
		<div class="input-field lt-col col m1 s12" style="margin-left: 45%;position: absolute;margin-top: -25px;
    z-index: 1;">
			<select multiple>
			<option value="" disabled selected>Cities</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			</select>
		</div>
			
		</div>
		<div id="map-filter" style="z-index: 0;"></div>
	</div>

</div>