<div class="lt-row row">

    <div class="lt-col col m12 s12" style="text-align: center;">
        <ul class="lt-tags-list" id="map-tags"></ul>
    </div>

	<div class="flow-text lt-square-title hidden lt-articles-soon">New articles soon. Check the other destinations for more articles</div>
    
    <div id="map-posts" style="top: 90px;"></div>

</div>