[builderList destinationList]
modelClass = "Blackfusion\Destinations\Models\Destinations"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "destination-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = "{{ 9 }}"
pageNumber = "{{ :page }}"
sortColumn = "updated_at"
sortDirection = "desc"
==
{% set records = destinationList.records %}
{% set displayColumn = destinationList.displayColumn %}
{% set noRecordsMessage = destinationList.noRecordsMessage %}
{% set detailsPage = destinationList.detailsPage %}
{% set detailsKeyColumn = destinationList.detailsKeyColumn %}
{% set detailsUrlParameter = destinationList.detailsUrlParameter %}

<div class="lt-row row" style="margin-left: -1.1rem;margin-right: -1.1rem;margin-top: 2.5rem;">

    {% for key, record in records %}
        {% if key == 0 %}
            <div class="lt-col col m8 s12">
                <div class="featured-pone">
                    <div class="pone">
                        <div class="pone-holder" style="background: url({{ record.featured_image.path }});">
                            <div class="pone-content">
                                <div class="pone-title">
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" rel="bookmark">{{ record.title }}</a>

                                    
                                    
                                </div>
                            </div><!-- .pone-content -->
                        </div><!-- .pone-holder -->
                    </div><!-- .pone -->         
                </div>
            </div> 
        {% endif %}

        {% if key >= 1 and key <= 2  %}
            <div class="lt-col col m4 s12">
                <div class="featured-ptwo">
                    <div class="ptwo">
                        <div class="ptwo-holder" style="background: url({{ record.featured_image.path }});">
                            <div class="ptwo-content">
                                <div class="ptwo-title">
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" rel="bookmark">{{ record.title }}</a>
                                </div>
                            </div><!-- .ptwo-content -->
                        </div><!-- .ptwo-holder -->
                    </div><!-- .ptwo -->         
                </div>
            </div> 
        {% endif %}

        {% if key > 2 %}
          <div class="lt-col col m4 s12">
                <div class="featured-ptwo">
                    <div class="ptwo">
                        <div class="ptwo-holder" style="background: url({{ record.featured_image.path }});">
                            <div class="ptwo-content">
                                <div class="ptwo-title">
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" rel="bookmark">{{ record.title }}</a>
                                </div>
                            </div><!-- .ptwo-content -->
                        </div><!-- .ptwo-holder -->
                    </div><!-- .ptwo -->         
                </div>
            </div> 
        {% endif %}

    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}

    <div class="lt-col col m12 s12">
        {% if records.lastPage > 1 %}
            <ul class="pagination">
                {% if records.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                {% endif %}

                {% for page in 1..records.lastPage %}
                    <li class="{{ records.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if records.lastPage > records.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

</div>



<div class="hide-on-small-only" style="height: 20px;"></div>