<div class="carousel" >
  <div class="carousel-cell">
    <img src="{{record.featured_image.path}}" alt="Destination Gallery" />
  </div>
  {% for image in record.featured_images %}
  <div class="carousel-cell">
    <img src="{{image.path}}" alt="Destination Gallery" />
  </div>
  {% endfor %}
</div>
