[builderDetails destinationDetails]
modelClass = "Blackfusion\Destinations\Models\Destinations"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = destinationDetails.record %}
{% set displayColumn = destinationDetails.displayColumn %}
{% set notFoundMessage = destinationDetails.notFoundMessage %}

{% if record %}

{% put scripts %}
	<script type="text/javascript">
		$(document).ready(function(){

			var position = "{{ record.location_number }}";
			var position_array = position.split(", ").map(function(item){
				return parseFloat(item);
			});

			var map = L.map('map-destination').setView(position_array, 13);

			L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			}).addTo(map);

			L.marker(position_array).addTo(map);
			map.zoomControl.remove();

			$('.compass-position-1').html(position_array[0])
			$('.compass-position-2').html(position_array[1])

		});
	</script>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
{% endput %}

<div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
    	<div class="compass-container">
	    	<img class="compass" src="{{ 'assets/img/compass.png'|theme }}">
	    	<span class="compass-position-1"></span>
			<span class="compass-position-2"></span>
		</div>

		<div class="lt-vertical-spacer"></div>
      	<h2 class="lt-square-title pull-left">{{ record.title }}</h2>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
      {{ html_limit(record.content, 170)|raw }}
    </div>
    <div class="lt-col col m6 s12">
     {{ record.video_url|raw }}
    </div>
  </div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>


<div class="lt-row row lt-section-fullwidth">
<div class="lt-col col m10 s9">
  <img class="responsive-img" alt="image" src="http://via.placeholder.com/950x250">
</div>
<div class="lt-col col m2 s3">
  <img class="responsive-img" alt="image" src="http://via.placeholder.com/150x245">
</div>
</div>





  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
	<div class="lt-col col m1 s12">

	<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style a2a_share">
		<a class="a2a_button_facebook"></a>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_pinterest"></a>
		<a class="a2a_button_google_plus"></a>
	</div>

	</div>
	   
	<div class="lt-col col m4 s12">
	    <div class="card grey lighten-3 z-depth-0">
	      <div id="map-destination"></div>
	      <div class="card-content">
	      	<h2 class="lt-square-title pull-left">Location</h2>
	        	<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
		      	<p>{{ record.location_address|raw }}</p>
	        	<div class="lt-vertical-spacer"></div>
      		<h2 class="lt-square-title pull-left">Website</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
	      		{{ record.website|raw }}
				<div class="lt-vertical-spacer"></div>
			<h2 class="lt-square-title pull-left">Directions</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
	      		{{ record.directions|raw }}
				<div class="lt-vertical-spacer"></div>
			<h2 class="lt-square-title pull-left">Tags</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
	      		{{ record.tags|raw }}
				<div class="lt-vertical-spacer"></div>				
	      </div>
	    </div>
	  </div>

    <div class="lt-col col m7 s12">
      <div class="lt-vertical-spacer"></div>
      <p>{{ record.content|raw }}</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

{% else %}
    {{ notFoundMessage }}
{% endif %}