<div class="lt-vertical-spacer"></div>
<div class="lt-row row">
	<div class="lt-col col m6 s12">
		<div class="compass-container">
	    	<img class="compass" src="{{ 'assets/img/compass.png'|theme }}">
	    	<span class="compass-position-1"></span>
			<span class="compass-position-2"></span>
		</div>

		<div class="lt-vertical-spacer"></div>
	  	<h2 class="lt-square-title pull-left">{{ record.title }}</h2>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
	  {{ html_limit(record.content, 170)|raw }}
	</div>
	<div class="lt-col col m6 s12">
	 {{ record.video_url|raw }}
	</div>
</div>