<style type="text/css">
    .select2-container{
        width:100% !important;
        display:block;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 10px; 
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none; 
    }
</style>

<select class="s2" name="<?php echo $name ?>" multiple>
    <?php foreach($tags as $key => $value): ?>
        <option value="<?php echo $key ?>"  
        <?php echo in_array($key, $selectedValues) ? 'selected="selected"' : '';  ?>><?php echo $value ?></option>
    <?php endforeach; ?>
</select>

<script type="text/javascript">
    $(document).on('render', function(){
        $('.s2').select2({
            placeholder: 'Add tags',
            tags: true,
            tokenSeparators: [',', ' ']
        })
    });
</script>