{% set treks = __SELF__.treks %}

<ul class="pagination lt-list-days" >
	<li><h2 class="lt-square-title lt-square-day pull-left">Day</h2></li>
	{% for key, trek in treks %}
		<li><a href="{{''|page({slug: trek.slug})}}" class="btn-floating {% if ''|page() ==  ''|page({slug: trek.slug}) %} btn-large btn-day active {% else %} btn-small btn-day {% endif%} z-depth-0 lt-modal-trigger modal-trigger">{{ trek.orden_id }}</a></li>		
    {% endfor %}
</ul> 



