[searchResults]
resultsPerPage = 12
showProviderBadge = 1
noResultsMessage = "Your search returned no results."
visitPageMessage = "Visit page"
==
<h4>Search results for: <mark>{{ searchResults.query }}</mark></h4>

{% set results = searchResults.results %}

<div class="lt-row row">
{% for result in results %}
    {# Display all results #}
	<div class="lt-col col m4 s12">
	<div class="featured-ptwo">
	    <div class="ptwo">
	        <div class="ptwo-holder" style="background: url({{ result.thumb.path }});">
	            <div class="ptwo-content">
	                <div class="ptwo-title">
	                    <a href="{{ result.url }}" rel="bookmark">{{ result.title | raw }}</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	</div>
{% else %}
    {# No results found #}
    {% partial searchResults ~ '::no-results.htm' %}
{% endfor %}
</div>

{% partial searchResults ~ '::pagination.htm' results = results %}


