title = "About"
url = "/about"
layout = "tramposaurus"
is_hidden = 0
==

<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-about/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-about/mainpage" %}
    </div>
  </div>
</section>