title = "Travel Blog Single"
url = "/blog/:slug"
layout = "tramposaurus"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"
==
{% set post = blogPost.post %}

{% put scripts %}
  <script async src="https://static.addtoany.com/menu/page.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      "use strict";
        var carousel = document.querySelector('.carousel');
      var flkty = new Flickity( carousel, {
        imagesLoaded: true,
        percentPosition: false,
      });

      var imgs = carousel.querySelectorAll('.carousel-cell img');
      // get transform property
      var docStyle = document.documentElement.style;
      var transformProp = typeof docStyle.transform == 'string' ?'transform' : 'WebkitTransform';

      flkty.on( 'scroll', function() {
      flkty.slides.forEach( function( slide, i ) {
        var img = imgs[i];
        var x = ( slide.target + flkty.x ) * -1/3;
        img.style[ transformProp ] = 'translateX(' + x  + 'px)';
        });
      });

    });
  </script>
{% endput %}

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">
    	<div class="lt-vertical-spacer"></div>
<div class="lt-row row">
	<div class="lt-col col m12 s12">
		<div class="compass-container pull-right">
	    	<img class="compass" src="{{ 'assets/img/compass.png'|theme }}">
	    	<span class="compass-position-1"></span>
			<span class="compass-position-2"></span>
		</div>
	  	<h2 class="lt-city-title pull-left">{{ post.title }}</h2>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
	</div>
</div>
    </div>
  </div>
</section>

<section id="lt-slider" class="lt-section lt-section-fullwidth section" style="margin-top: -50px;margin-bottom: -50px;">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content lt-destination-single">

{% if post.featured_images.count %}
<div class="carousel">
  {% for image in post.featured_images %}
  <div class="carousel-cell">
    <img src="{{image.path}}" alt="{{image.description}}" />
  </div>
  {% endfor %}
</div>
{% endif %}

    </div>
  </div>
</section>


<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">

<div class="lt-row row">

  <div class="lt-col col m2 s12">

    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style a2a_share" style="float: left;
      margin-left: 100px;margin-top: 20px;line-height: 32px;position: inherit;">
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_pinterest"></a>
      <a class="a2a_button_google_plus"></a>
    </div>

  </div>
  
  <div class="lt-col col m10 s12">
      
    <div class="lt-vertical-spacer"></div>
        {{ post.content|raw }}
    </div>
</div>



    </div>
  </div>
</section>