title = "Destinations"
url = "/destinations"
layout = "tramposaurus"
is_hidden = 0
==

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-destinations/list" %}
    </div>
  </div>
</section>
