title = "Home"
url = "/"
layout = "tramposaurus"
is_hidden = 0
==
{% put styles %}
  <style>
    #lt-navigation { margin-bottom: -65px !important; }
  </style>
{% endput %}
{% put scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        // Navigation
        $(window).bind('load scroll', function(){
        var y = $(window).scrollTop();
        if (y <= 15) {
         $('#lt-navigation nav').addClass('lt-no-background');
        } else if (y > 15) {
         $('#lt-navigation nav').removeClass('lt-no-background');
        }
        });
      });
    </script>
{% endput %}

<section id="lt-slideshow" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content">
      {% partial "pages-home/slideshow" %}
    </div>
  </div>
</section>

<section id="lt-latest" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-latest-content">
      {% partial "pages-home/latest" %}
    </div>
  </div>
</section> 
