title = "Sign up"
url = "/sign-up"
layout = "sign"
is_hidden = 0

[sociallogin]

[account]
paramCode = "code"
forceSecure = 0
==
<section class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content">
<!--       {% partial "pages-all/sign-up" %}
 --> 


<div class="lt-row row">
  <div class="center">
    <div class="lt-col col s12">      
      <a href="{{ 'home'|page }}"> <img class="lt-sign-logo" src="{{ 'assets/img/logo.png'|theme }}"></a>
      <h4 class="lt-sign-title">Join Tramposaurus Treks</h4>
      <span class="lt-sign-subtitle">Already a member? <a href="{{ 'home'|page }}/sign-in">Sign in</a></span>
      <div class="lt-vertical-spacer"></div>

    </div>


    <div class="lt-col col m3 s12">
    </div>

    <div class="lt-col col m3 s12">
      
        {% if not user %}

      <div id="mc_embed_signup">
      <form data-request="onRegister">
      <div id="mc_embed_signup_scroll">

        <div class="input-field col m12 s12 mc-field-group">
          <label for="registerName">FULL NAME</label>
          <input name="name" type="text" class="lt-sign-fields" id="registerName" placeholder="Enter your full name" />
        </div>

        <div class="input-field col m12 s12 mc-field-group">
          <label for="registerEmail">EMAIL ADDRESS</label>
          <input name="email" type="email" class="lt-sign-fields" id="registerEmail" placeholder="Enter your email" />
        </div>

        <div class="input-field col m12 s12 mc-field-group">
          <label for="registerPassword">PASSWORD</label>
          <input name="password" type="password" class="lt-sign-fields" id="registerPassword" placeholder="Choose a password" />
        </div>

          <div class="input-field col m12 s12 ">
            <button class="waves-effect waves-light btn-large z-depth-0 pull-center btn-green" type="submit" >JOIN</button>
          </div>

          <div class="input-field col m12 s12 ">
            <span>Subscribe to our newsletter</span>
          </div>

        </div>
      </form>
 

        {% else %}

            {% partial account ~ '::activation_check' %}

            {% partial account ~ '::update' %}

            {% partial account ~ '::deactivate_link' %}

        {% endif %}

    </div>
    </div>
    
    <div class="lt-col col m3 s12" style="margin-top: 10px;">
      {% for name, link in social_login_links %}
        {% if name == "Google" %}          
          <a  class="btn btn-social btn-google-plus" href="{{ link }}?s={{ 'home'|page }}&f={{ 'join-traposaurus-treks'|page }}">
             <i class="fa fa-google-plus"></i> Sign in with Google
          </a>
        {% else %}
          <a  class="btn btn-social btn-{{ name |lowercase }}" href="{{ link }}?s={{ 'home'|page }}&f={{ 'join-traposaurus-treks'|page }}">
             <i class="fa fa-{{ name | lowercase }}"></i> Sign in with {{ name | lowercase  }}
          </a>
        {% endif %}
          <br />
      {% endfor %}
    </div>

    <div class="lt-col col m3 s12">
    </div>

  </div>
</div>














</div>
  </div>
</section>