title = "Maps"
url = "/maps"
layout = "tramposaurus"
is_hidden = 0
==
use Blackfusion\Maps\Models\Continents;

function onStart()
{
	$this->addCss('assets/js/leaflet/leaflet.css');
	$this->addJs('assets/js/leaflet/leaflet.js');
	$this->addJs('assets/js/leaflet/plugin/leaflet-ajax/dist/leaflet.ajax.js');
	$this->addJs('assets/js/leaflet/plugin/leaflet-ajax/example/spin.js');
	$this->addJs('assets/js/leaflet/plugin/leaflet-ajax/example/leaflet.spin.js');

	$this['continents'] = Continents::orderBy('name', 'asc')->with('countries')->get();
	$this['paramCountry'] = @$_GET['country'];
}

==
{% put styles %}
  <style>
    #lt-navigation { margin-bottom: -65px !important; }
  </style>
{% endput %}
{% put scripts %}
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script type="text/javascript">

	"use strict";

	var map;

	var geojsonLayer;

	var url = "{{ 'home'|page }}";

	var geolocation = false;

	var $grid = $("#map-posts");

	var $isotope;

	var paramCountry = '{{ paramCountry }}';


	function initIsotope(){
		$grid.isotope({
		layoutMode: 'fitRows',
	    getSortData: {
	      },
	      alphabetical: function( $elem ) {
	        var name = $elem.find('.name'),
	            itemText = name.length ? name : $elem;
	        return itemText.text();
	      }
  		}); 
	}

	function getGeoLocation(callback){ 
		//current location
		$.get("http://ipinfo.io", function (response) {
				geolocation = response;

				if(paramCountry){
					console.log(paramCountry)
					getCountry(paramCountry);
				}else{
					console.log(response.country)
					getCountry(response.country);

				}

				callback();
			}, "jsonp");
		
	}

	function getCountry(string, callback){
		//explore countries
		$.get(url+"/api/v1/maps/country/"+string, function (response) {
			updateMap(response.country.latitude,response.country.longitude);
			updateMarker(response.country.name);
			updateExploreList(response.country.name);
			initIsotope();
			var posts = [];
			posts.push(response.country.destinations);
			posts.push(response.country.features);
			posts.push(response.country.treks);
			updatePosts(posts);
		})
	}

	function popUp(f,l){
	   
	    var out = [];
	    if (f.properties){
        	out.push('<span style="color:#ff5722;font-weight:bold;">'+f.properties.type+'</span>');
        	
        	if(f.properties.title){
        	out.push('<a href="'+f.properties.slug+'" style="color:#437f46;font-weight:bold;">'+f.properties.title+'</a>');
        	}
        	
        	l.bindPopup(out.join("<br />"));
	    }
	}

	function getMap(param){

		var position = param.loc;
		
		var position_array = position.split(",").map(function(item){
			return parseFloat(item);
		});

		map = L.map('map-filter').setView(position_array, 6);
		
		var mopt = {
		    url: 'https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZmVsaXhtcGEiLCJhIjoiY2o0aTE4bTl5MDRwMzJ3cHRobGI5cWtpZiJ9.bWQGSZpNmFTzzAhMG3Ombg',
		    options: {attribution:'© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}
		};
		
		var mq = L.tileLayer(mopt.url,mopt.options);
		
		mq.addTo(map);
		
		map.zoomControl.remove();
		
		geojsonLayer = L.geoJson.ajax(url+"/api/v1/maps/country/"+param.country,{onEachFeature:popUp}).addTo(map);
	}

	function updateMap(lat,log){
		map.setView(new L.LatLng(lat, log), 6);
	}

	function updateMarker(country){
		geojsonLayer = L.geoJson.ajax(url+"/api/v1/maps/country/"+country,{onEachFeature:popUp}).addTo(map);
	}


	function updatePosts(posts){

		$("#map-posts").html('');
		$("#map-tags").html('');
		$('.lt-articles-soon').addClass('hidden')

		if(posts[0].length > 0 || posts[1].length > 0 || posts[2].length > 0){
        	
			var tags = [];
			var isotopeData = $grid.data('isotope');

			        $.each(posts, function(item, value){
			       		$.each(value, function(item, post){
				       		var classTag = "";
				       		$.each(post.tags, function(item, tag){
				       			var exist = false;
				       			$.map(tags,function(el,v){
				       				if(el.id == tag.id){
				       					el.total += 1;
				       					exist = true;
				       				}		
				       			});
				       			if(!exist){
				       				tag.total = 1;
				       				tags.push(tag);
				       			}
				       			classTag += ' '+tag.slug;
			    	   		});

			       		var html = '<div class="lt-col col m4 s12 element-grid'+classTag+'">'+
			                '<div class="featured-ptwo">'+
			                    '<div class="ptwo">'+
			                        '<div class="ptwo-holder" style="background: url('+post.featured_image.path+');">'+
			                            '<div class="ptwo-content">'+
			                                '<div class="ptwo-title">'+
			                                    '<a href="#" rel="bookmark">'+post.title+'</a>'+
			                                '</div>'+
			                            '</div>'+
			                        '</div>'+
			                    '</div>'+
			               ' </div>'+
			            '</div>';


			       		var $item = $(html).appendTo('#map-posts');
			       		$grid.append($item).isotope('appended', $item);

		       		});
		       });
       
       		$('#map-posts').isotope( 'reloadItems' ).isotope( { sortBy: 'original-order' } );

       		updateTags(tags)

		}else{
			$('.lt-articles-soon').removeClass('hidden')
		}
	}

	function updateTags(tags){
		$.each(tags, function(item, tag){
			var html = '<li><a href="#" class="lt-tags" data-filter=".'+tag.slug+'">'+tag.name+'  |  '+tag.total+'</a></li>';
			$(html).appendTo("#map-tags");
		});
	}


	function updateExploreList(country){
		$('.lt-explore-country').html('Explore '+country);
	}

	$(document).ready(function(){

		if(!geolocation){
			getGeoLocation(function(){
				getMap(geolocation);
			});	
		}
	
		$(document).on('click','.explore-country',function(){
			getCountry($(this).html())
		});

		$(document).on('click', '#map-tags li a',function(){
			$('.lt-tags').removeClass('active');
			$(this).addClass('active');
			var filterValue = $(this).attr('data-filter');
			$grid.isotope({filter:filterValue});
			return false;
		});


		$(".lt-list-countries li").each(function(){
			console.log($(this).length)
		})
		
	});
	</script>
{% endput %}


<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">
      {% partial "pages-maps/single-header" %}
    </div>
  </div>
</section>

<section id="lt-slider" class="lt-section lt-section-fullwidth section" style="margin-top: -75px;margin-bottom: -50px;">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content lt-destination-single">
      {% partial "pages-maps/single-slideshow" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">
      {% partial "pages-maps/single-mainpage" %}
    </div>
  </div>
</section>

