title = "Search"
url = "/search"
layout = "tramposaurus"
is_hidden = 0
==
<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-search/results" %}
    </div>
  </div>
</section>