title = "Sign in"
url = "/sign-in"
layout = "sign"
is_hidden = 0

[sociallogin]

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<section class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content">

<div class="lt-row row">
  <div class="center">
    <div class="lt-col col s12">      
      <a href="{{ 'home'|page }}"><img class="lt-sign-logo" src="{{ 'assets/img/logo.png'|theme }}"></a>
       {% if not user %}
      <h4 class="lt-sign-title">Sign in to Tramposaurus Treks</h4>
      <span class="lt-sign-subtitle">Not a member? <a href="{{ 'home'|page }}/sign-up">Join</a></span>
      {% else %}
      <h4 class="lt-sign-title">Hi, {{ user.name }} </h4>
      <span class="lt-sign-subtitle">Sign-out? <a data-request="onLogout" data-request-data="redirect: '/'"><i class="fa fa-sign-out"></i></a>
</span>
      
      {% endif %}
      <div class="lt-vertical-spacer"></div>
    </div>

    <div class="lt-col col m3 s12">
    </div>

    <div class="lt-col col m3 s12">
      
    {% if not user %}

    <div id="mc_embed_signup">
      <form 
      data-request="onSignin">
        <div id="mc_embed_signin_scroll">
          <div class="input-field col m12 s12 mc-field-group">
            <input name="login" type="email" class="lt-sign-fields required email" id="userSigninLogin" placeholder="" />
            <label for="userSigninLogin">EMAIL ADDRESS</label>
          </div>

          <div class="input-field col m12 s12 mc-field-group">
              <input name="password" type="password" class="lt-sign-fields" id="userSigninPassword" placeholder="Enter your password" />
            <label for="userSigninPassword">PASSWORD</label>
          </div>          

          <div class="input-field col m12 s12 ">
            <button class="waves-effect waves-light btn-large z-depth-0 pull-center btn-green" type="submit" name="subscribe" id="mc-embedded-subscribe">SIGN IN</button>
          </div>

          <div class="input-field col m12 s12 ">
            <span>Forgot your password?</span>
          </div>

        </div>
      </form>
    </div>

    </div>
    
    <div class="lt-col col m3 s12" style="margin-top: 10px;">
      {% for name, link in social_login_links %}
        {% if name == "Google" %}          
          <a  class="btn btn-social btn-google-plus" href="{{ link }}?s={{ 'home'|page }}&f={{ 'sign-traposaurus-treks'|page }}">
             <i class="fa fa-google-plus"></i> Sign in with Google
          </a>
        {% else %}
          <a  class="btn btn-social btn-{{ name |lowercase }}" href="{{ link }}?s={{ 'home'|page }}&f={{ 'sign-traposaurus-treks'|page }}">
             <i class="fa fa-{{ name | lowercase }}"></i> Sign in with {{ name | lowercase  }}
          </a>
        {% endif %}
          <br />
      {% endfor %}
    </div>

    <div class="lt-col col m3 s12">'

    </div>

     {% else %}

        {% partial account ~ '::activation_check' %}

        {% partial account ~ '::update' %}

        {% partial account ~ '::deactivate_link' %}

    {% endif %}

  </div>
</div>

    </div>
  </div>
</section>