title = "Treks Single"
url = "/treks/:slug"
layout = "tramposaurus"
is_hidden = 0
[builderDetails treksDetails]
modelClass = "Blackfusion\Treks\Models\Treks"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[bookform]
==
<?
function onStart()
{
  $this->addCss('assets/js/leaflet/leaflet.css');
  $this->addJs('assets/js/leaflet/leaflet.js');
}
?>
==
{% set record = treksDetails.record %}
{% set displayColumn = treksDetails.displayColumn %}
{% set notFoundMessage = treksDetails.notFoundMessage %}

{% if record %}
{% put scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			"use strict";

			var position = "{{ record.location_number }}";
			var position_array = position.split(",").map(function(item){
				return parseFloat(item);
			});

			var map = L.map('map-destination').setView(position_array, 13);

			L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			}).addTo(map);

			L.marker(position_array).addTo(map);
			map.zoomControl.remove();

			$('.compass-position-1').html(position_array[0])
			$('.compass-position-2').html(position_array[1])

			var carousel = document.querySelector('.carousel');
			var flkty = new Flickity( carousel, {
				imagesLoaded: true,
				percentPosition: false,
			});

			var imgs = carousel.querySelectorAll('.carousel-cell img');
			// get transform property
			var docStyle = document.documentElement.style;
			var transformProp = typeof docStyle.transform == 'string' ?'transform' : 'WebkitTransform';

			flkty.on( 'scroll', function() {
			flkty.slides.forEach( function( slide, i ) {
				var img = imgs[i];
				var x = ( slide.target + flkty.x ) * -1/3;
				img.style[ transformProp ] = 'translateX(' + x  + 'px)';
				});
			});

		});
	</script>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	<script type="text/javascript">
		$(document).ready(function($){
            $('.book-form').on('ajaxError', function(event, message){
                $('.flash.error').removeClass('hidden');
                $('.flash.success').addClass('hidden');

            });
            $('.book-form').on('ajaxSuccess', function(event, message){
                $('.flash.success').removeClass('hidden');
                $('.flash.error').addClass('hidden');
            });

            $('.btn-book-trip').on('click',function(){
            	$('.lt-booktrip').toggleClass('hidden')
            	return false;
            });

			$('.datepicker').pickadate({
				selectMonths: true, // Creates a dropdown to control month
				selectYears: 15 // Creates a dropdown of 15 years to control year
			});
		});
    </script>

{% endput %}


<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">
      {% partial "pages-treks/single-header" %}

      {% if user %} 
	  	{% component 'bookform' %}
	  {% endif %}
	  
    </div>
  </div>
</section>


<section id="lt-slider" class="lt-section lt-section-fullwidth section" style="margin-top: -50px;margin-bottom: -50px;">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content lt-destination-single">
      {% partial "pages-treks/single-slideshow" %}
    </div>
  </div>
</section>


<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content lt-destination-single">
      {% partial "pages-treks/single-mainpage" %}
    </div>
  </div>
</section>


{% else %}
    {{ notFoundMessage }}
{% endif %}