<div class="lt-thing-top">
	<h2 class="lt-square-title lt-square-day pull-left">TOP THINGS</h2>
	<h2 class="lt-square-title lt-square-day pull-left">TO DO</h2>
</div>

{% set features = __SELF__.features %}

{% for key, feature in features %}
	<a href="{{''|page({slug: feature.slug})}}">
	<div class="{% if ''|page() ==  ''|page({slug: feature.slug}) %} lt-thing-todo feature-top-container active {% else %} lt-thing-todo feature-top-container {% endif%}">
		<span class="feature-top-title">{{ feature.orden_id }}</span>
		<p class="feature-top-content">{{ feature.title }}</p>
	</div>
	</a>
{% endfor %}
