<div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title lt-square-title pull-left">ABOUT US</h2>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <p><b>Tramposaurus Treks is a travel blog like no other.</b><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>

      <p>Donec et efficitur ipsum. Nam sit amet lorem sit amet erat tempor iaculis et semper magna. Praesent porta dui diam, id mattis tellus varius ut. Aliquam placerat porta risus, vel cursus risus.<p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc.</p>

    </div>
    <div class="lt-col col m6 s12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>

      <p>Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. </p>
    </div>
  </div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title lt-square-title pull-left">MEET THE TEAM</h2>
  </div>
</div>


<div class="lt-row row">
    <div class="lt-col col m10 s9">
      <img class="responsive-img" alt="image" src="http://via.placeholder.com/950x250">
    </div>
    <div class="lt-col col m2 s3">
      <img class="responsive-img" alt="image" src="http://via.placeholder.com/150x245">
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m10 s12">
      <h2 class="lt-title lt-title-with-subtitle">Forrest</h2>
      <span class="lt-title-subtitle">Head Tramp</span>
      <div class="lt-vertical-spacer"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>
    </div>
    <div class="lt-col col m2 s12">
      <span class="lt-title-subtitle">Introducing</span>
      <h2 class="lt-title lt-title-with-subtitle">Trampy</h2>
      <div class="lt-vertical-spacer"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
     <img class="responsive-img" alt="image" src="http://via.placeholder.com/350x350">
    </div>

    <div class="lt-col col m8 s12">
       <h2 class="lt-title lt-title-with-subtitle">Caroline</h2>
      <span class="lt-title-subtitle">Chief Executive Tramp</span>
      <div class="lt-vertical-spacer"></div>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit massa id aliquet elementum. Mauris aliquet leo justo, non ultrices nisl mattis facilisis. Phasellus tincidunt nec ante at congue. Mauris pulvinar vitae arcu vitae molestie. Maecenas augue nunc, lacinia lacinia ante vitae, lacinia rhoncus ex. Sed sed leo aliquet, porta sem ut, luctus nunc. Vestibulum porta luctus mauris.</p>
    </div>
    </div>
  </div>