<div class="lt-row row">
  <div class="lt-col col s12">
    <div>
      All rights reserved <i class="fa fa-copyright" alt="copyright"></i>
      <a href="#" class="copyright-link" >TRAMPOSAURUS TREKS
      </a>
    </div>
    <div>
      Web design by <a href="http://blackfusion.ro/" class="copyright-link" target="_blank">BLACKFUSION</a>
    </div>
  </div>  
</div>