<div class="lt-col col s12 lt-social">
    <ul>
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      </li>
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a>
      </li>
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
      </li>
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
      </li>
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-pinterest fa-3x"></i></a>
      </li>      
      <li>
        <a class="" href="#" target="_blank"><i class="fa fa-rss-square fa-3x"></i></a>
      </li>
    </ul>
</div>