<div class="lt-row row">
  <div class="lt-col col m6 s12">
    <h2 class="lt-title lt-square-title">GET IN TOUCH</h2>
    
    <p><i class="small pe-7s-map-marker primary-color-text"></i> 
    5565 Viverra justo eu Road, Dubai, </br> UAE POE Box 889965</p>
    
    <p><i class="small fa fa-at primary-color-text"></i> info@tramposaurus.com</p>
    
    <p><i class="small pe-7s-phone primary-color-text"></i> +1 0022 3322 555</p>
  </div>

<div class="col m6 s12">

<div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title lt-square-title pull-left">SEND US AN EMAIL</h2>
    </div>
  </div>

<form class="col s12">
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="text" class="validate" id="first_name">
      <label for="first_name" class="active">Enter your name</label>
    </div>
  </div>

  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="email" class="validate" id="email">
      <label data-success="right" data-error="wrong" for="email">Enter your email</label>
    </div>
  </div>
 
  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <input type="email" class="validate" id="email">
      <label data-success="right" data-error="wrong" for="email">Subject</label>
    </div>
  </div>
 

  <div class="lt-row row">
    <div class="input-field lt-col col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Your message</label>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col s12">
      <button class="btn-large waves-effect waves-light btn-green" type="submit" name="action">Send</button>
    </div>
  </div>
</form>

</div>

<div class="lt-row row">
  <div class="lt-col col m4 s12" style="margin-top: 50px;">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-content">
        <p style="padding: 50px">WORK WITH US</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12" style="margin-top: 50px;">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-content">
        <p style="padding: 50px">FAQ</p>
      </div>
    </div>
  </div>
  <div class="lt-col col m4 s12" style="margin-top: 50px;">
    <div class="card grey lighten-3 z-depth-0">
      <div class="card-content">
        <p style="padding: 50px">PARTNERSHIPS AND ADVERTISING</p>
      </div>
    </div>
  </div>
</div>


</div>
