<div class="lt-vertical-spacer"></div>
<div class="lt-row row">
	<div class="lt-col col m12 s12">
		<div class="compass-container pull-right">
	    	<img class="compass" src="{{ 'assets/img/compass.png'|theme }}">
	    	<span class="compass-position-1"></span>
			<span class="compass-position-2"></span>
		</div>

		<div class="lt-vertical-spacer">
		<span class="lt-country-title">{{ post.title }}</span>
		</div>
	  	<h2 class="lt-city-title pull-left"></h2>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
	 
	</div>

</div>