<style type="text/css">
    .select2-container{
        width:100% !important;
        display:block;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 10px; 
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none; 
    }
</style>

<select class="s2" name="Treks[parent_id]" id="Form-field-Treks-parent_id">
    <option value="0">Select a parent treks</option>
    <?php foreach($treks as $key => $value): ?>
        <?php if($selectedValues): ?>
        <option value="<?= $key ?>" <?= ($selectedValues == $key) ? 'selected="selected"' : ''; ?>><?= $value ?></option> 
        <?php else: ?>    
        <option value="<?= $key ?>" ><?= $value ?></option>
        <?php endif; ?>
    <?php endforeach; ?>
</select>

<script type="text/javascript">
    $(document).on('render', function(){
        $('.s2').select2({
            placeholder: 'Add a main treks',
            tags: false
        })
    });
</script>