{% if this.theme.load_animate_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet">
{% endif %}

{% if this.theme.load_owl_carousel %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet" >  
{% endif %}

