[builderList treksList]
modelClass = "Blackfusion\Treks\Models\Treks"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "treks-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 7
pageNumber = "{{ :page }}"
sortColumn = "updated_at"
sortDirection = "desc"
==
{% set records = treksList.records %}
{% set displayColumn = treksList.displayColumn %}
{% set noRecordsMessage = treksList.noRecordsMessage %}
{% set detailsPage = treksList.detailsPage %}
{% set detailsKeyColumn = treksList.detailsKeyColumn %}
{% set detailsUrlParameter = treksList.detailsUrlParameter %}


<div class="lt-row row">
  <div class="lt-col col m10 s12">
    <h2 class="lt-title lt-latest-articles lt-square-title">Latest Articles</h2>
  </div>
  <div class="lt-col col m2 s12">
  </div>
</div>

<div class="lt-row row" style="margin-left: -1.0rem;margin-right: -1.0rem;">


    {% for key, record in records %}
        {% if key == 0 %}
			<div class="lt-col col m4 s12">
			    <div class="featured-pone">
			          <div class="pone">
			              <div class="pone-holder" style="background: url({{ record.featured_image.path }});">
			                  <div class="pone-content">
			                      <div class="pone-title">

			                          <a href="#" rel="bookmark">{{ record.title }}</a>

				                      	<ul class="pagination pone-list">
				                      		<li><a href="#"><i class="fa fa-flag fa-border"></i></a></li>
				                      		<li><a href="#"><i class="fa fa-star fa-border"></i></a></li>
				                      		<li><a href="#"><i class="fa fa-list fa-border"></i></a></li>
				                      	</ul>

			                      </div>

			                  </div><!-- .pone-content -->
			              </div><!-- .pone-holder -->
			          </div><!-- .pone -->
			    </div>
  			</div>
        {% endif%}

        {% if key == 1 %}
        <div class="lt-col col m4 s12">
        {% endif %}
		{% if key >= 1 and key <= 2 %} 
		    <div class="featured-ptwo">
		          <div class="ptwo">
		              <div class="ptwo-holder" style="background: url({{ record.featured_image.path }});">
		                  <div class="ptwo-content">
		                      <div class="ptwo-title">
		                          <a href="#" rel="bookmark">{{ record.title }}</a>

		                          	<ul class="pagination ptwo-list">
				                      	<li><a href="#"><i class="fa fa-flag fa-border"></i></a></li>
				                      	<li><a href="#"><i class="fa fa-star fa-border"></i></a></li>
				                      	<li><a href="#"><i class="fa fa-list fa-border"></i></a></li>
				                    </ul>

		                      </div>
		                  </div><!-- .ptwo-content -->
		              </div><!-- .ptwo-holder -->
		          </div><!-- .ptwo -->
		        </div>
		{% endif %}
		{% if key == 2 %}
			</div>
		{% endif %}

        {% if key > 2 %}
			<div class="lt-col col m4 s12">
			    <div class="featured-pfour" {% if key % 2 %} {% endif %}>
			          <div class="pfour">
			              <div class="pfour-thumb">
			                <a href="#" title="{{ record.title }}"><img width="120" height="120" src="{{ record.featured_image.path }}" class="attachment-small-thumb size-small-thumb wp-post-image" alt="" title="{{ record.title }}" srcset="{{ record.featured_image.path }}" sizes="(max-width: 120px) 100vw, 120px"></a>
			              </div>
			              <div class="pfour-details">
			                <h3 class="pfour-title"><a href="#">{{ str_limit(record.title, 15) }}</a></h3>
			                <p class="pfour-meta">{{ str_limit(record.content, 70) }}</p>
			              </div>
			          </div><!-- .pfour -->
			    </div>
  			</div>
		{% endif %}

    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}

</div>