==
use RainLab\Blog\Models\Post;
use Blackfusion\Treks\Models\Treks;

function onStart()
{

  $this['posts'] = Treks::take(7)->orderBy('updated_at','desc')->get();

  $this['postsOne'] = Post::isPublished()->orderBy('published_at', 'desc')->take(1)->with('categories')->get();
  $this['postsTwo'] = Post::isPublished()->orderBy('published_at', 'desc')->take(2)->with('categories')->get();
  $this['postsFour'] = Post::isPublished()->orderBy('published_at', 'desc')->take(4)->with('categories')->get();
}
==


{{ posts }}

<div class="lt-row row">
  <div class="lt-col col m10 s12">
    <h2 class="lt-title lt-latest-articles lt-square-title">Latest Articles</h2>
  </div>
  <div class="lt-col col m2 s12">
  </div>
</div>


<div class="lt-row row" style="margin-left: -1.1rem;margin-right: -1.1rem;">

  <div class="lt-col col m4 s12">
    <div class="featured-pone">
        {% for post in postsOne %}
        {% if post.featured_images.count %}                      
          <div class="pone">
              {% for image in post.featured_images %}
              <div class="pone-holder" style="background: url({{ image.path }});">
                  <div class="pone-content">
                      <div class="pone-title">
                          <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                      </div>
                  </div><!-- .pone-content -->
              </div><!-- .pone-holder -->
              {% endfor %}
          </div><!-- .pone -->
          {% endif %}
          {% endfor %}
    </div>
  </div>

  <div class="lt-col col m4 s12">
    <div class="featured-ptwo">
        {% for post in postsTwo %}
        {% if post.featured_images.count %}                      
          <div class="ptwo">
              {% for image in post.featured_images %}
              <div class="ptwo-holder" style="background: url({{ image.path }});">
                  <div class="ptwo-content">
                      <div class="ptwo-title">
                          <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                      </div>
                  </div><!-- .ptwo-content -->
              </div><!-- .ptwo-holder -->
              {% endfor %}
          </div><!-- .ptwo -->
          {% endif %}
          {% endfor %}
    </div>
  </div>

  <div class="lt-col col m4 s12">
     <div class="featured-pfour">
        {% for post in postsFour %}
        {% if post.featured_images.count %}                      
          <div class="pfour">
              {% for image in post.featured_images %}
              <div class="pfour-thumb">
                <a href="{{ post.url }}" title="{{ post.title }}"><img width="120" height="120" src="{{ image.path }}" class="attachment-small-thumb size-small-thumb wp-post-image" alt="" title="{{ post.title }}" srcset="{{ image.path }}" sizes="(max-width: 120px) 100vw, 120px"></a>
              </div>
              <div class="pfour-details">
                <h3 class="pfour-title"><a href="{{ post.url }}">{{ str_limit(post.title, 15) }}</a></h3>
                <p class="pfour-meta">{{ str_limit(post.summary, 70) }}</p>
              </div>
              {% endfor %}
          </div><!-- .pfour -->
          {% endif %}
          {% endfor %}
    </div>
  </div>

</div>


<div class="hide-on-small-only" style="height: 20px;"></div>