<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/img-02.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Travel the globe with us</h2>
            <h5 class="lt-slider-subtitle">See the world through the eyes of explorers.</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class=" btn-large primary-color-background btn-exploring btn-start-exploring">START EXPLORING</a>
            </div>
          </div>
        </li>   
      </ul>
    </div>
  </div>
</div>
