[builderList countriesList]
modelClass = "Blackfusion\Maps\Models\Countries"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "maps"
detailsKeyColumn = "name"
detailsUrlParameter = "name"

pageNumber = "{{ :page }}"
sortColumn = "updated_at"
sortDirection = "desc"
==
{% set records = countriesList.records %}
{% set displayColumn = countriesList.displayColumn %}
{% set noRecordsMessage = countriesList.noRecordsMessage %}
{% set detailsPage = countriesList.detailsPage %}
{% set detailsKeyColumn = countriesList.detailsKeyColumn %}
{% set detailsUrlParameter = countriesList.detailsUrlParameter %}

{% put scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Navigation      
        var countryList = new List('country-list', {
          valueNames: ['name'],
          page: 22,
          pagination: [{
            outerWindow: 22
          }]
        });

        var pagination = 0;
        $(".btn-country-pagination").on('click',function(){
           if((pagination <= $('.page').length)){
          
              if(($(this).attr('data') == 'next') && (pagination < ($('.page').length -1) ))
                pagination++;  
              
              if($(this).attr('data') == 'previous' && pagination != 0) 
                pagination--;

              $('.page:eq('+pagination+')')[0].click();

           }
           return false;
        });

     
      });
    </script>
{% endput %}

<div class="lt-row row">
  <div class="lt-col col m4 s12">
    <h2 class="lt-title lt-latest-articles lt-square-title">Top Destinations</h2>
  </div>
  <div class="lt-col col m8 s12">
      <span class="lt-title lt-latest-articles lt-square-title" style="font-size: 16px;font-style: italic; font-family: inherit;text-transform: none;margin-left: 40px;">Countries</span>
  
       <a href="#" data="next" class="btn-large btn-country-pagination primary-color-background pull-right"><i class="fa fa-arrow-right"></i></a>

      <a href="#" data="previous" class="btn-large btn-country-pagination primary-color-background pull-right"><i class="fa fa-arrow-left"></i></a>

  </div>
</div>


<div class="lt-row row">
  <div class="lt-col col m4 s12">
  	<img class="compass" style="width: 400px;margin-left: -12px;" src="{{ 'assets/img/explore-image.png'|theme }}">
  </div>
  <div class="lt-col col m8 s12">
  		<div id="country-list">
	  		<ul class="list" style="columns: 2;-webkit-columns: 2;-moz-columns: 2;margin-left: 40px;">
		  		{% for key, record in records %}
		        	<li class="name"><a class="lt-top-country-link" href="{{ 'maps'|page }}?country={{ record.name }}">{{ record.name }}</a></li>
		        {% endfor %}
	        </ul>

			<ul class="pagination" style="visibility: hidden;"></ul>

	    </div>
  </div>
</div>


