==

<div class="lt-row row">
	<img src="{{ 'assets/img/logo.png'|theme }}">
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
	{% content "social" %}
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  {% content "copyright" %}
</div>