<div class="lt-row row lt-subcribe">
  <div class="lt-col col m5 s12">
    <div class="flow-text lt-mailing-list">JOIN OUR MAILING LIST</div>
  </div>
  <div class="lt-col col m7 s12">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//laratify.us14.list-manage.com/subscribe/post?u=9e48b47c28a1b93742ba12e5a&amp;id=e0a5daa468" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="input-field col m7 s12 mc-field-group">
          	<input type="email" value="" name="EMAIL" class="required email lt-mailing-input" id="mce-EMAIL">
            <label for="mce-EMAIL">enter your email address</label>
            <div id="mce-responses" class="clear">
            	<div class="response" id="mce-error-response" style="display:none"></div>
            	<div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e48b47c28a1b93742ba12e5a_e0a5daa468" tabindex="-1" value=""></div>
          </div>
          <div class="input-field col m5 s12">
            <button class="waves-effect waves-light btn-large z-depth-0 pull-right lt-mailing-button" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
