<div id="lt-continent" style="z-index: 2;">
	<ul class="nav">


	 {% for key, item in continents %}
	 	<li >
	 		<a href="#">{{ item.name }}</a>
	 		{% partial 'pages-all/menu-countries' countries=item.countries %}
	 	</li>
	 {% endfor %}
	</ul>
</div>