<div class="lt-navbar navbar-fixed">
  <nav class="">
    <div class="nav-wrapper">
      <div class="lt-container container lt-navigation">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">
            <img class="img-logo" src="{{ 'assets/img/logo.png'|theme }}">
        </a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          
  
          <li class="{% if this.page.id == 'maps' %}active{% endif %}"><a href="{{ 'maps'|page }}">Maps</a></li>

          <li class="{% if this.page.id == 'destinations' %}active{% endif %}"><a href="{{ 'destinations'|page }}">Destinations</a></li>

          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Travel Blog</a></li>
          
          <li class="{% if this.page.id == 'treks' %}active{% endif %}"><a href="{{ 'treks'|page }}">Treks</a></li>
          
          <li class="{% if this.page.id == 'features' %}active{% endif %}"><a href="{{ 'features'|page }}">Features</a></li>

          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">
        About</a></li>
    
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
  
          <li class="{% if this.page.id == 'sign-in' %}active{% endif %}">
          <a href="{{'sign-traposaurus-treks'|page}}">{% if not user %} Sign-in {% else %} Welcome, {{ user.name }} {% endif %}</a></li>
    
          {% if user %} 
          <li class=""><a data-request="onLogout" data-request-data="redirect: '/'" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sign-out"><i class="fa fa-sign-out"></i></a></li>

          {% endif %} 

          {% if not user %} 
          <li class="{% if this.page.id == 'sign-up' %}active{% endif %}"><a href="{{'sign-traposaurus-treks'|page}}">Join</a></li>
          {% endif %} 

          <li class="">
          <form action="{{ 'search-results' | page }}" class="lt-navigation-search-form" method="get">
            <input type="text" class="validate lt-navigation-search-input hidden" name="q">
            <a type="submit" class="lt-navigation-search-link"><i class="fa fa-search"></i></a>
          </form>
          </li>


        </ul>

        <ul class="side-nav" id="mobile-menu">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>

          <li class="{% if this.page.id == 'destinations' %}active{% endif %}"><a href="{{ 'destinations'|page }}">Destinations</a></li>
          <li class="{% if this.page.id == 'treks' %}active{% endif %}"><a href="{{ 'treks'|page }}">Treks</a></li>
          
          <li class="{% if this.page.id == 'features' %}active{% endif %}"><a href="{{ 'features'|page }}">Features</a></li>

          <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}">
        About</a></li>
    
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
