<div class="lt-row row lt-search-adventure" style="margin-bottom: -10px;">
  <div class="lt-col col s12">
    <h2 class="lt-title lt-square-title lt-search-title pull-left">SEARCH YOUR NEXT ADVENTURE</h2>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-col col m8 s12">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_search">
      <form action="{{ 'search-results' | page }}" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          
          <div class="input-field col m6 s12 mc-field-group">
            <input type="text" value="" name="q" class="required email " id="mce-KEYWORD">
            <label for="mce-KEYWORD">Keyword (ex: Ghost town)</label>
          </div>

          <div class="input-field col m6 s12 mc-field-group">
            <input type="text" value="" name="TYPE" class="required email " id="mce-TYPE">
            <label for="mce-TYPE">Type/Difficulty</label>
          </div>          

          <div class="input-field col m6 s12 mc-field-group">
            <input type="text" value="" name="COUNTRY" class="required email " id="mce-COUNTRY">
            <label for="mce-COUNTRY">Country</label>  
          </div> 

          <div class="input-field col m6 s12 mc-field-group">
            <input type="text" value="" name="DURATION" class="required email " id="mce-DURATION">
            <label for="mce-DURATION">Duration</label>
          </div> 

          <div class="input-field col m10 s12 ">
            <button class="waves-effect waves-light btn-large z-depth-0 pull-right lt-search-button" type="submit" name="subscribe" id="mc-embedded-subscribe" style="left: 25px;">SEARCH</button>
          </div>
          
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

  <div class="lt-col col m4 s12">
  </div>
  
</div>
