description = "Tramposaurus Layout"

[session]
security = "all"

==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <title>{{ this.theme.website_name }} - {{ this.page.meta_title|default(this.page.title) }}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />
    <link rel="icon" type="image/png" href="{{ 'assets/img/icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
      <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_fontawesome %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_material_icons %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_stroke7_icons %}
      <link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">
    {% endif %}

    <link href="{{ ['assets/scss/style.scss']|theme }}" rel="stylesheet">

    {% partial "_addons/css" %}

    {% styles %}

    {% if this.theme.custom_css %}
      <style>
      {{ this.theme.custom_css }}
      </style>
    {% endif %}
  </head>
  <body class="lt-theme-{{ this.theme.config.code }} lt-layout-{{ this.layout.id }} lt-page-{{ this.page.id }}">
    <div id="lt-page-surround">
      
      <section id="lt-navigation" class="lt-section section lt-no-background">
        <div class="lt-row row">
          <div class="lt-content lt-navigation-content">
            {% partial "pages-all/navigation" %}
          </div>
        </div>
      </section>

      {% page %}


      {% if ''|page() !=  'contact'|page() %} 

      <section id="lt-search" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-footer-content">
            {% partial "pages-all/search" %}
          </div>
        </div>
      </section>

     {% endif %}


      {% if ''|page() ==  'home'|page() %} 

      <section id="lt-latest" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-latest-content">
            {% partial "pages-home/top-destinations" %}
          </div>
        </div>
      </section> 

      {% endif%}


      {% if ''|page() !=  'contact'|page() %} 

      <section id="lt-footer" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-footer-content">
            {% partial "pages-all/footer" %}
          </div>
        </div>
      </section>

      {% endif %} 



      <section id="lt-copyright" class="lt-section section lt-copyright-forest">
        <div class="lt-container container">
          <div class="lt-content lt-copyright-content">
            {% partial "pages-all/copyright" %}
          </div>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>
    <script src="{{ ['assets/js/materialize.min.js','assets/js/theme.js']|theme }}"></script>

    {% if this.theme.load_octobercms_framework %}
      {% framework extras %}
    {% endif %}

    {% partial "_addons/js" %}

    {% scripts %}

    {% if this.theme.custom_js %}
      <script>
      {{ this.theme.custom_js }}
      </script>
    {% endif %}
  </body>
</html>