<div class="lt-vertical-spacer"></div>
<div class="lt-row row">
	<div class="lt-col col m6 s12">
		<div class="compass-container">
	    	<img class="compass" src="{{ 'assets/img/compass.png'|theme }}">
	    	<span class="compass-position-1"></span>
			<span class="compass-position-2"></span>
		</div>
		<div class="lt-vertical-spacer">
		<span class="lt-country-title">{{record.country.name}}</span>
		</div>
	  	<h2 class="lt-square-title pull-left">{{ record.title }}</h2>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
		<div class="lt-vertical-spacer"></div>
	  	{{ html_limit(record.content, 170)|raw }}
      	<ul class="pagination ptreks-list">
      		<li><a href="#"><i class="fa fa-flag fa-border"></i></a></li>
      		<li><a href="#"><i class="fa fa-star fa-border"></i></a></li>
      		<li><a href="#"><i class="fa fa-list fa-border"></i></a></li>
      		
      		{% if not user %} 
			<li><a href="{{ 'sign-traposaurus-treks'|page }}" class="btn btn-book-trip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Please Sign-in">BOOK YOUR TRIP</a></li>
			{% else %}
			<li><a href="#" class="btn btn-book-trip">BOOK YOUR TRIP</a></li>
			
			{% endif %}

      		<li><a href="#" class="btn-edit-location"><i class="fa fa-pencil"> </i> EDIT LOCATION</a></li>
      		<li><a href="#" class="btn-add-photo"><i class="fa fa-plus-square-o"> </i> ADD PHOTO</a></li>
      	</ul>
	</div>
	<div class="lt-col col m6 s12">
	 {{ record.video_url|raw }}
	</div>
</div>
