[treks]
slug = "{{ :slug }}"
sortOrder = "id asc"
==
<div class="lt-row row">
	<div class="lt-col col m1 s12">
		<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style a2a_share">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_pinterest"></a>
			<a class="a2a_button_google_plus"></a>
		</div>
	</div>
	<div class="lt-col col m4 s12">
	    <div class="card grey lighten-3 z-depth-0">
	      <div id="map-destination"></div>
	      <div class="card-content">
	      	<h2 class="lt-square-title pull-left">Location</h2>
	        	<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
		      	<p>{{ record.location_address|raw }}</p>
	        	<div class="lt-vertical-spacer"></div>
      		<h2 class="lt-square-title pull-left">Website</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
	      		{{ record.website|raw }}
				<div class="lt-vertical-spacer"></div>
			<h2 class="lt-square-title pull-left">Directions</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
	      		{{ record.directions|raw }}
				<div class="lt-vertical-spacer"></div>
			<h2 class="lt-square-title pull-left">Tags</h2>
				<div class="lt-vertical-spacer"></div>
	        	<div class="lt-vertical-spacer"></div>
				<ul class="lt-tags-list">
				{% for tags in record.tags %}
	      			<li><a href="#" class="lt-tags">{{tags.name}}</a></li>
	      		{% endfor %}
	      		<ul>
	      </div>
	    </div>
	</div>
    <div class="lt-col col m7 s12">

	    {% component 'treks' %}

		<div class="lt-vertical-spacer"></div>
      	{{ record.content|raw }}
    </div>
</div>