<div class="lt-row row lt-booktrip hidden" style="margin-top:10px;margin-bottom: -25px;">

  <div class="lt-col col s12">
    <h2 class="lt-title lt-square-title lt-search-title pull-left">BOOK YOUR TRIP</h2>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-col col m12 s12">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_search">
      <form data-request="bookform::onSend" class="book-form" data-request-validate data-request-flash >

      <input type="hidden" name="_handler" value="onSend">
      {{ form_token() }}
      {{ form_sessionKey() }}

        <div id="mc_embed_signup_scroll">
          
          <div class="input-field col m3 s12 mc-field-group">
            <input type="text" value="" name="starting-date" class="required starting-data datepicker" id="mce-starting-data">
            <label for="mce-starting-data">Starting date</label>
            <span data-validate-for="starting-data"></span>
          </div>

          <div class="input-field col m3 s12 mc-field-group">
            <input type="text" value="" name="starting-day" class="required starting-day" id="mce-starting-day">
            <label for="mce-starting-day">Starting day</label>
            <span data-validate-for="starting-day"></span>
          </div>          

          <div class="input-field col m3 s12 mc-field-group">
            <input type="text" value="" name="attendants" class="required attendants" id="mce-attendants">
            <label for="mce-attendants">Attendants</label>
            <span data-validate-for="attendants"></span>
          </div> 

          <div class="input-field col m3 s12 mc-field-group">
            <button class="waves-effect waves-light btn-large z-depth-0 btn-book-now" type="submit" style="left: 35px;" data-attach-loading>BOOK NOW</button>
          </div>

          <div class="input-field col m12 s12 mc-field-group">
                
                <div class="alert alert-danger" data-validate-error>
                  <p data-message></p>
                </div>
                
                <div class="flash error hidden">
                  Ooops. Something went wrong please check the requiered fields.
                </div>
                
                <div class="flash success hidden">
                  Your treks has been booked. Thank you.
                </div>

          </div>

        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

    <div class="lt-vertical-spacer"></div>

    <div class="lt-vertical-spacer"></div>

</div>


